input, textarea {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
h1 {
  color: #ff2929;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8acde1;
}